rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    // MATCHES

    match /users/{document} {
      allow read;
      allow write: if false;
    }

    match /todos/{document} {
      allow read;
      allow update;
      allow create, delete: if false;
    }

    match /_counters/{document} { 
      allow read;
      allow write: if false;
    } 

  }
}